<div layout="column">
  <md-grid-list md-cols-sm="1" md-cols="3" md-gutter="{{searchRowGutter}}" md-row-height="{{searchRowHeight}}">

    <md-grid-tile ng-click="setIscoGroup('1')">
      <img id="step5" class="category" src="assets/images/512/family3.png" alt="toggeli 1" />
      <md-grid-tile-footer>
        <h3 translate="isco.category1"></h3>
      </md-grid-tile-footer>
    </md-grid-tile>
    <md-grid-tile ng-click="setIscoGroup('2')">
      <img class="category" src="assets/images/512/graduated.png" alt="toggeli 1" />
      <md-grid-tile-footer>
        <h3 translate="isco.category2"></h3>
      </md-grid-tile-footer>
    </md-grid-tile>
    <md-grid-tile ng-click="setIscoGroup('3')">
      <img class="category" src="assets/images/512/tool36.png" alt="toggeli 1" />
      <md-grid-tile-footer>
        <h3 translate="isco.category3"></h3>
      </md-grid-tile-footer>
    </md-grid-tile>

    <md-grid-tile ng-click="setIscoGroup('4')">
      <img class="category" src="assets/images/512/paperclip.png" alt="toggeli 1" />
      <md-grid-tile-footer>
        <h3 translate="isco.category4"></h3>
      </md-grid-tile-footer>
    </md-grid-tile>
    <md-grid-tile ng-click="setIscoGroup('5')">
      <img class="category" src="assets/images/512/shop31.png" alt="toggeli 1" />
      <md-grid-tile-footer>
        <h3 translate="isco.category5"></h3>
      </md-grid-tile-footer>
    </md-grid-tile>
    <md-grid-tile ng-click="setIscoGroup('6')">
      <img class="category iscoIcon" src="assets/images/jobs/isco6.png" alt="toggeli 1" />
      <md-grid-tile-footer>
        <h3 translate="isco.category6"></h3>
      </md-grid-tile-footer>
    </md-grid-tile>

    <md-grid-tile ng-click="setIscoGroup('7')">
      <img class="category" src="assets/images/512/work26.png" alt="toggeli 1" />
      <md-grid-tile-footer>
        <h3 translate="isco.category7"></h3>
      </md-grid-tile-footer>
    </md-grid-tile>
    <md-grid-tile ng-click="setIscoGroup('8')">
      <img class="category" src="assets/images/512/construction16.png" alt="toggeli 1" />
      <md-grid-tile-footer>
        <h3 translate="isco.category8"></h3>
      </md-grid-tile-footer>
    </md-grid-tile>
    <md-grid-tile ng-click="setIscoGroup('9')">
      <img class="category" src="assets/images/512/clean9.png" alt="toggeli 1" />
      <md-grid-tile-footer>
        <h3 translate="isco.category9"></h3>
      </md-grid-tile-footer>
    </md-grid-tile>

  </md-grid-list>
</div>

<md-button href="#/job-search" class="md-fab md-primary md-fab-bottom-right jd-floating-fab" aria-label="global.navigation.search" md-theme-watch="true">
  <md-icon>arrow_forward</md-icon>
</md-button>
