<div id="filter" layout="row" layout-wrap layout-margin layout-align="start center" class="jd-floating-toolbar jd-floating-toolbar-fill-sm" ng-class="{'md-whiteframe-z2':!mobile}">

  <div flex="60" layout="row" layout-wrap flex-xs="100" id="iscoGroup">
    <md-input-container flex="60" flex-xs="100" class="md-block isco-select" ng-if="!searchParams.iscoMajorGroup">
      <label><span translate="jobs.search.jobgroup"></span></label>
      <md-select ng-model="searchParams.iscoMajorGroup" ng-change="countJobs()">
        <md-option ng-repeat="isco in iscoMajorGroup" value="{{isco.code}}"><span translate="{{isco.text}}"></span></md-option>
      </md-select>
    </md-input-container>

    <md-input-container flex="60" flex-xs="100" class="md-block isco-select" ng-if="searchParams.iscoMajorGroup">
      <label><span translate="isco.majorGroups.{{searchParams.iscoMajorGroup}}"></span></label>
      <md-select ng-model="searchParams.iscoGroupLevel3" ng-change="countJobs()">
        <md-option value="0"><span translate="jobs.search.allSubGroups"></span></md-option>
        <md-option ng-repeat="minorGroup in iscoMinorGroups[searchParams.iscoMajorGroup]" value="{{minorGroup}}"><span translate="isco.minorGroups.{{minorGroup}}"></span></md-option>
        <md-option value="-1" ng-click="searchParams.iscoMajorGroup='';searchParams.iscoGroupLevel3='';countJobs()"><md-icon>keyboard_arrow_left</md-icon><span class="jd-select-reset" translate="jobs.search.disableGroup"></span></md-option>
      </md-select>
    </md-input-container>

    <div class="filter-button-container my-location-button" flex flex-xs="15">
      <md-button class="md-icon-button jd-icon-button" ng-click="setMyLocation()">
        <md-icon id="resetLocation">my_location</md-icon>
      </md-button>
    </div>

    <md-input-container flex="30" hide-xs id="zip">
      <label translate="jobs.search.location"></label>
      <input class="keyboard" type="text" name="location" id="location" ng-model="nearestZip" />
    </md-input-container>

    <form ng-submit="setCurrentZip(currentZip)" flex-xs="85" hide-gt-xs layout="row" layout-align="start center">
      <md-input-container flex-xs="70">
        <label translate="jobs.search.location"></label>
        <input type="number" min="1000" max="9999" name="location-sm" id="location-sm" ng-model="currentZip" />
      </md-input-container>

      <div class="mobile filter-button-container" flex>
        <md-button class="md-icon-button jd-icon-button">
          <md-icon>check</md-icon>
        </md-button>
      </div>
    </form>
  </div>

  <div flex="15" flex-xs="40" id="distanceType">
    <md-radio-group ng-model="searchParams.distanceType" ng-change="countJobs()" ng-init="searchParams.distanceType=searchParams.distanceType || appConfig.distanceType">
      <md-radio-button value="distance" class="md-primary"><span translate="jobs.search.distanceTypeDistance"></span></md-radio-button>
      <md-radio-button value="travelTime" class="md-primary"><span translate="jobs.search.distanceTypeTravelTime"></span></md-radio-button>
    </md-radio-group>
  </div>

  <div flex="15" flex-xs="40" id="distanceTypeParameter">
    <div flex ng-if="searchParams.distanceType==='distance'">
      <label class="md-slider-label" translate="jobs.search.distance" translate-values="{value:searchParams.distance}"></label>
      <md-slider ng-model="searchParams.distance" step="{{distanceOptions.step}}" min="{{distanceOptions.min}}" max="{{distanceOptions.max}}" aria-label="distance" ng-change="countJobs()" class="md-primary"></md-slider>
    </div>

    <div flex ng-if="searchParams.distanceType==='travelTime'">
      <label class="md-slider-label" translate="jobs.search.travelTime" translate-values="{value:showTimeInH(searchParams.travelTime)}"></label>
      <md-slider ng-model="searchParams.travelTime" step="{{travelTimeOptions.step}}" min="{{travelTimeOptions.min}}" max="{{travelTimeOptions.max}}" aria-label="travelTime" ng-change="countJobs()" class="md-primary"></md-slider>
    </div>
  </div>

  <md-button flex hide-xs ng-click="startTour()" class="md-icon-button"><md-icon>help</md-icon></md-button>
</div>

<div align="center" class="jd-content no-scrollbar" hide-xs>
  <div id="map" class="map"></div>
</div>

<div layout="row" layout-margin layout-align="start center" class="jd-bottom-right">
  <strong ng-show="!idle" translate="jobs.search.foundJobs" translate-values="{value: count}"></strong>
  <md-progress-circular ng-show="idle" md-mode="indeterminate" md-diameter="120"></md-progress-circular>
</div>

<md-button href="#/job-results" class="md-fab md-primary md-fab-bottom-right jd-floating-fab" aria-label="global.navigation.search" ng-disabled="count===0 || idle" md-theme-watch="true">
  <md-icon>arrow_forward</md-icon>
</md-button>

<tour step="currentStep" post-tour="tourEnded()">
  <virtual-step tourtip="{{tourTranslate('jobs.search.tour.jobGroups')}}" tourtip-step="0"  tourtip-placement="bottom" tourtip-element="#iscoGroup" tourtip-offset-vertical="-20"></virtual-step>
  <virtual-step tourtip="{{tourTranslate('jobs.search.tour.location')}}" tourtip-step="1"  tourtip-placement="right" tourtip-element="image.current-location" tourtip-offset-horizontal="-15" tourtip-offset-vertical="-25"></virtual-step>
  <virtual-step tourtip="{{tourTranslate('jobs.search.tour.distanceType')}}" tourtip-step="2"  tourtip-placement="bottom" tourtip-element="#distanceType"tourtip-offset-vertical="-10"></virtual-step>
  <virtual-step tourtip="{{tourTranslate('jobs.search.tour.distanceTypeParameter')}}" tourtip-step="3"  tourtip-placement="left" tourtip-element="#distanceTypeParameter"></virtual-step>
  <virtual-step tourtip="{{tourTranslate('jobs.search.tour.changeZip')}}" tourtip-step="4"  tourtip-placement="bottom" tourtip-element="#zip"></virtual-step>
  <virtual-step tourtip="{{tourTranslate('jobs.search.tour.resetLocation')}}" tourtip-step="5"  tourtip-placement="left" tourtip-element="#resetLocation" tourtip-offset-vertical="-30"></virtual-step>
  <virtual-step tourtip="{{tourTranslate('jobs.search.tour.countJobs')}}" tourtip-step="6"  tourtip-placement="top" tourtip-element=".jd-bottom-right"></virtual-step>
</tour>
