<md-content layout-padding>
  <h1 translate="config.title"></h1>

  <form name="configForm" layout="row" layout-wrap>

    <strong class="md-title" flex="100">Standort</strong>

    <img ng-if="idle" alt="idle" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />

    <md-input-container flex="100">
      <label>Adresse</label>
      <input ng-model="config.address" type="text" />
    </md-input-container>

    <md-input-container flex="50">
      <label>Postleitzahl</label>
      <input name="zipInput" ng-model="config.zip" type="number" min="1000" max="9999" required integer/>
    </md-input-container>

    <md-input-container flex="50">
      <md-button ng-disabled="configForm.zipInput.$invalid" class="md-raised" ng-click="receiveCoords()">lookup</md-button>
    </md-input-container>

    <md-input-container flex="50">
      <label>Koordinaten / Longitude</label>
      <input ng-model="config.coords.lon" ng-disabled="true" type="text" />
    </md-input-container>

    <md-input-container flex="50">
      <label>Koordinaten / Latitude</label>
      <input ng-model="config.coords.lat" ng-disabled="true" type="text" />
    </md-input-container>

    <strong class="md-title" flex="100">Angebot</strong>

    <md-checkbox ng-model="config.educations" aria-label="Weiterbildungsangebote" flex="33">
      Weiterbildungsangebote
    </md-checkbox>

    <md-checkbox ng-model="config.apprenticeships" aria-label="Lehrstellen" flex="33">
      Lehrstellen
    </md-checkbox>

    <strong class="md-title" flex="100">Suchkriterien</strong>

    <md-radio-group ng-model="config.distanceType" flex="33">
      <md-radio-button value="travelTime" class="md-primary">Umkreissuche nach Reisedauer mit öV</md-radio-button>
      <md-radio-button value="distance">Umkreissuche nach Distanz</md-radio-button>
    </md-radio-group>

    <md-checkbox ng-model="config.showMunicipalities" aria-label="Gemeinden" flex="100">
      Benachbarte Gemeinde anzeigen (innerhalb des Suchradius)
    </md-checkbox>

    <div flex="100">
      <md-button ng-disabled="!config.coords" class="md-raised md-primary" ng-click="saveConfig()">save</md-button>
      <md-button class="md-raised md-warn" ng-click="resetConfig()">reset</md-button>
    </div>

  </form>
</md-content>
