<md-content layout-padding>
  <h1 translate="config.title"></h1>

  <form name="configForm" layout="row" layout-wrap>

    <strong class="md-title" flex="100" translate="config.location.title"></strong>

    <!-- Standort -->
    <md-input-container flex="40">
      <label translate="config.location.address"></label>
      <input ng-model="config.address" type="text" />
    </md-input-container>

    <md-input-container flex="10" layout="row">
      <md-button class="md-raised" ng-click="lookupAddress()">lookup</md-button>
      <md-progress-circular ng-if="idle" md-mode="indeterminate"></md-progress-circular>
    </md-input-container>

    <md-input-container flex="10">
      <label translate="config.location.zip"></label>
      <input name="zipInput" ng-model="config.zip" type="number" min="1000" max="9999" required />
    </md-input-container>

    <md-input-container flex="10" layout="row">
      <md-button ng-disabled="configForm.zipInput.$invalid" class="md-raised" ng-click="receiveCoords()">lookup</md-button>
      <md-progress-circular ng-if="idle" md-mode="indeterminate"></md-progress-circular>
    </md-input-container>

    <md-input-container flex="15">
      <label translate="config.location.lon"></label>
      <input ng-model="config.coords.lon" ng-disabled="true" type="text" />
    </md-input-container>

    <md-input-container flex="15">
      <label translate="config.location.lat"></label>
      <input ng-model="config.coords.lat" ng-disabled="true" type="text" />
    </md-input-container>
    <!-- /Standort -->

    <!-- Angebot, Karte, Information -->
<!--    <div flex="33">
      <p><strong class="md-title" translate="config.offer.title"></strong></p>
      <md-checkbox ng-model="config.educations" class="md-primary" aria-label="Weiterbildungsangebote">
        <span translate="config.offer.educations"></span>
      </md-checkbox>
      <br />
      <md-checkbox ng-model="config.apprenticeships" class="md-primary" aria-label="Lehrstellen">
        <span translate="config.offer.apprenticeships"></span>
      </md-checkbox>
    </div>-->

    <div flex="33">
      <p><strong class="md-title" translate="config.map.title"></strong></p>
      <md-radio-group ng-model="config.mapType">
        <md-radio-button value="swisstopo" class="md-primary"><span translate="config.map.swisstopo"></span></md-radio-button>
        <md-radio-button value="osm" class="md-primary"><span translate="config.map.openstreetmap"></span></md-radio-button>
      </md-radio-group>
    </div>

    <div flex="66" class="form-block">
      <p><strong class="md-title" translate="config.information.title"></strong></p>
      <md-checkbox ng-model="configInformation" class="md-primary" aria-label="Information">
        <span translate="config.information.activate"></span>
      </md-checkbox>
      <br />

      <md-input-container>
        <label translate="config.information.link"></label>
        <input ng-model="config.localInfo" ng-disabled="!configInformation" type="text" />
      </md-input-container>
    </div>
    <!-- /Angebot, Karte, Information -->

    <!-- Umkreissuche -->
    <div flex="33">
      <p><strong class="md-title"><span translate="config.circumSearch.title"></span> - <span translate="config.circumSearch.offer"></span></strong></p>
      <md-checkbox ng-model="config.availableDistanceType.distance" class="md-primary" ng-disabled="circumSearch(config.availableDistanceType.distance)" aria-label="Umkreissuche nach Distanz">
        <span translate="config.circumSearch.type.distance"></span>
      </md-checkbox>
      <br />
      <md-checkbox ng-model="config.availableDistanceType.transport" class="md-primary" ng-disabled="circumSearch(config.availableDistanceType.transport)" aria-label="Umkreissuche nach Reisedauer mit öV">
        <span translate="config.circumSearch.type.transport"></span>
      </md-checkbox>
      <br />
      <md-checkbox ng-model="config.availableDistanceType.drive" class="md-primary" ng-disabled="circumSearch(config.availableDistanceType.drive)" aria-label="Umkreissuche nach Reisedauer mit PKW">
        <span translate="config.circumSearch.type.drive"></span>
      </md-checkbox>
      <br />
      <md-checkbox ng-model="config.availableDistanceType.bike" class="md-primary" ng-disabled="circumSearch(config.availableDistanceType.bike)" aria-label="Umkreissuche nach Reisedauer mit Fahrrad">
        <span translate="config.circumSearch.type.bike"></span>
      </md-checkbox>
    </div>

    <div flex="33">
      <p><strong class="md-title"><span translate="config.circumSearch.title"></span> - <span translate="config.circumSearch.configuration"></span></strong></p>
      <md-radio-group ng-model="config.distanceType">
        <md-radio-button value="distance" class="md-primary" ng-disabled="!config.availableDistanceType.distance"><span translate="config.circumSearch.type.distance"></span></md-radio-button>
        <md-radio-button value="transport" class="md-primary" ng-disabled="!config.availableDistanceType.transport"><span translate="config.circumSearch.type.transport"></span></md-radio-button>
        <md-radio-button value="drive" class="md-primary" ng-disabled="!config.availableDistanceType.drive"><span translate="config.circumSearch.type.drive"></span></md-radio-button>
        <md-radio-button value="bike" class="md-primary" ng-disabled="!config.availableDistanceType.bike"><span translate="config.circumSearch.type.bike"></span></md-radio-button>
      </md-radio-group>
    </div>

    <div flex="33">
      <p><strong class="md-title"><span translate="config.circumSearch.title"></span> - <span translate="config.circumSearch.values"></span></strong></p>
      <div layout="row" layout-wrap>

        <span flex="40" translate="config.circumSearch.label.distance" translate-values="{value:config.initialDistance.distance || 30}"></span>
        <md-slider flex="55" ng-model="config.initialDistance.distance" step="{{sliderOptions.distance.step}}" min="{{sliderOptions.distance.min}}" max="{{sliderOptions.distance.max}}" aria-label="distanceOptions" class="md-primary"></md-slider>

        <span flex="40" translate="config.circumSearch.label.transport" translate-values="{value:showTimeInH(config.initialDistance.transport || 30)}"></span>
        <md-slider flex="55" ng-model="config.initialDistance.transport" step="{{sliderOptions.transport.step}}" min="{{sliderOptions.transport.min}}" max="{{sliderOptions.transport.max}}" aria-label="transportOptions" class="md-primary"></md-slider>

        <span flex="40" translate="config.circumSearch.label.drive" translate-values="{value:showTimeInH(config.initialDistance.drive || 30)}"></span>
        <md-slider flex="55" ng-disabled="!config.availableDistanceType.drive" ng-model="config.initialDistance.drive" step="{{sliderOptions.drive.step}}" min="{{sliderOptions.drive.min}}" max="{{sliderOptions.drive.max}}" aria-label="driveOptions" class="md-primary"></md-slider>

        <span flex="40" translate="config.circumSearch.label.bike" translate-values="{value:showTimeInH(config.initialDistance.bike || 30)}"></span>
        <md-slider flex="55" ng-disabled="!config.availableDistanceType.bike" ng-model="config.initialDistance.bike" step="{{sliderOptions.bike.step}}" min="{{sliderOptions.bike.min}}" max="{{sliderOptions.bike.max}}" aria-label="bikeOptions" class="md-primary"></md-slider>
      </div>
    </div>
    <!-- /Umkreissuche -->

    <div flex="100">
      <md-button ng-disabled="!config.coords" class="md-raised md-primary" ng-click="saveConfig()">save</md-button>
      <md-button class="md-raised md-warn" ng-click="resetConfig()">reset</md-button>
    </div>

  </form>
</md-content>
