<div layout="row" layout-wrap layout-align="space-between start" style="padding: 10px;">
  <div flex flex-sm="100" ng-click="showDetail($event,jobDetail._source)">
      <h4 class="strong">{{::getMultiLanguageText(jobDetail._source.title)}}</h4>

      <strong ng-if="onlineSinceDate(jobDetail._source.publicationDate)>1" translate="jobs.result.onlineSince" translate-values="{value: onlineSinceDate(jobDetail._source.publicationDate)}"></strong>
      <strong ng-if="onlineSinceDate(jobDetail._source.publicationDate)===1" translate="jobs.result.onlineSinceOneDay"></strong>
      /
      <strong translate="jobs.result.workload"></strong>
      <strong ng-if="jobDetail._source.quotaFrom!==jobDetail._source.quotaTo">{{::jobDetail._source.quotaFrom}} - {{::jobDetail._source.quotaTo}}%</strong>
      <strong ng-if="jobDetail._source.quotaFrom===jobDetail._source.quotaTo">{{::jobDetail._source.quotaTo}}%</strong>

      <p ng-if="!showDetailContent" ng-text-truncate="getMultiLanguageText(jobDetail._source.description)" ng-tt-words-threshold="20" ng-tt-no-toggling></p>

      <div ng-if="showDetailContent">
        <!-- todo change to stellennummeravam check -->
        <span ng-if="jobDetail._source.external==='false'">
          <p ng-bind-html="getMultiLanguageText(jobDetail._source.description)"></p>
          <div layout="row" layout-wrap layout-align="space-between start">
            <div flex="25" flex-sm="100">
              <strong class="fake-label" translate="jobs.result.jobLocation"></strong><br />
              <span>{{::getMultiLanguageText(jobDetail._source.locations.remarks)}}</span><br />

              <strong class="fake-label" translate="jobs.result.entryDate"></strong><br />
              <span ng-if="jobDetail._source.availableNow" translate="jobs.result.availableNow"></span>
              <span ng-if="!jobDetail._source.availableNow && jobDetail._source.startDate" translate="jobs.result.availableFromDate" translate-values="{value: jobDetail._source.startDate}"></span>
              <span ng-if="!jobDetail._source.availableNow && !jobDetail._source.startDate" translate="jobs.result.availableByAppointment"></span>
              <br />

              <strong class="fake-label" translate="jobs.result.contractDuration"></strong><br />
              <span ng-if="!jobDetail._source.permanentJob && jobDetail._source.endDate" translate="untilDate" translate-values="{value: jobDetail._source.endDate}"></span>
              <span ng-if="!jobDetail._source.permanentJob && !jobDetail._source.endDate" translate="jobs.result.nonPermanent"></span>
              <span ng-if="jobDetail._source.permanentJob" translate="jobs.result.permanent"></span>
            </div>

            <!-- Sprachen -->
            <div flex="25" flex-sm="100">
              <div ng-repeat="language in jobDetail._source.languages" ng-if="language.languageCode">
                <strong class="fake-label" translate="language.jobs.{{::language.languageCode}}"></strong><br />
                (<span translate="jobs.result.spoken"></span>: <span translate="global.codes.languages.skills.{{::language.spokenCode}}"></span> / <span translate="jobs.result.written"></span>: <span translate="global.codes.languages.skills.{{::language.writtenCode}}"></span>)
              </div>
            </div>

            <!-- Bewerbung -->
            <div flex="25" flex-sm="100">
              <div ng-if="jobDetail._source.application.written">
                <strong class="fake-label" translate="jobs.result.titleWrittenApplication"></strong><br />
                <span translate="jobs.result.letterApplication"></span>
              </div>
              <div ng-if="jobDetail._source.application.electronical">
                <strong class="fake-label" translate="jobs.result.titleElectronicApplication"></strong><br />
                <span>{{jobDetail._source.contact.eMail}} <span ng-if="jobDetail._source.company.url">/ {{::jobDetail._source.company.url}}</span></span>
              </div>
              <div ng-if="jobDetail._source.application.phone">
                <strong class="fake-label" translate="jobs.result.titlePhoneApplication"></strong><br />
                <span>{{jobDetail._source.contact.phone}}</span>
              </div>
            </div>
            <div flex="25" flex-sm="100">
              <strong>{{::jobDetail._source.company.name}}</strong><br />
              <span>{{::jobDetail._source.company.address.street}}</span><br />
              <span>{{::jobDetail._source.company.address.zip}} {{::jobDetail._source.company.address.location}}</span><br />
              <span ng-if="jobDetail._source.company.poAddress.poBox"><br /><span translate="jobs.result.poBox" translate-values="{value: jobDetail._source.company.poAddress.poBox}"></span><br /></span>
              <span ng-if="jobDetail._source.company.poAddress.poBox">{{::jobDetail._source.company.poAddress.zip}} {{::jobDetail._source.company.poAddress.location}}</span>

              <br />
              <strong><span translate="global.codes.salutations.{{::jobDetail._source.contact.gender}}"></span> {{::jobDetail._source.contact.firstName}} {{::jobDetail._source.contact.lastName}}</strong><br />
              <span ng-if="jobDetail._source.contact.phone">{{::jobDetail._source.contact.phone}}<br /></span>
              <span ng-if="jobDetail._source.contact.eMail">{{::jobDetail._source.contact.eMail}}</span>
            </div>
          </div>
        </span>
      </div>

    </div>
  <div flex="20" hide-sm>
    <md-button ng-click="showDetail($event,jobDetail._source)" aria-label="Show / Close Detail">
      <span ng-if="!showDetailContent">
        <md-icon>search</md-icon>&nbsp;<span translate="jobs.result.showMore"></span>
      </span>
      <span ng-if="showDetailContent">
        <md-icon>close</md-icon>&nbsp;<span translate="jobs.result.showLess"></span>
      </span>
    </md-button>
    <p></p>
    <md-button ng-click="showPrintDialog()" ng-if="jobDetail._source.external==='false'"><md-icon>print</md-icon>&nbsp;<span translate="jobs.result.print"></span></md-button>
  </div>
</div>

<job-print ng-show="false" id="{{::jobDetail._id}}" job="jobDetail"></job-print>
<md-divider></md-divider>
