<div>
  <h2>{{getMultiLanguageText(job._source.title)}}</h2>
  <strong ng-if="job._source.onlineSince>1" translate="jobs.result.onlineSince" translate-values="{value: job._source.onlineSince}"></strong>
  <strong ng-if="job._source.onlineSince===1" translate="jobs.result.onlineSinceOneDay"></strong>
  /
  <strong translate="jobs.result.workload"></strong>
  <strong ng-if="job._source.quotaFrom!==job._source.quotaTo">{{job._source.quotaFrom}} - {{job._source.quotaTo}}%</strong>
  <strong ng-if="job._source.quotaFrom===job._source.quotaTo">{{job._source.quotaTo}}%</strong>

  <p ng-bind-html="getMultiLanguageText(job._source.description)"></p>
  <strong class="fake-label" translate="jobs.result.jobLocation"></strong><br />
  <span>{{getMultiLanguageText(job._source.locations.remarks)}}</span><br />

  <strong class="fake-label" translate="jobs.result.entryDate"></strong><br />
  <span ng-if="job._source.availableNow" translate="jobs.result.availableNow"></span>
  <span ng-if="!job._source.availableNow && job._source.startDate" translate="jobs.result.availableFromDate" translate-values="{value: job._source.startDate}"></span>
  <span ng-if="!job._source.availableNow && !job._source.startDate" translate="jobs.result.availableByAppointment"></span>
  <br />

  <strong class="fake-label" translate="jobs.result.contractDuration"></strong><br />
  <span ng-if="!job._source.permanentJob && job._source.endDate" translate="untilDate" translate-values="{value: job._source.endDate}"></span>
  <span ng-if="!job._source.permanentJob && !job._source.endDate" translate="jobs.result.nonPermanent"></span>
  <span ng-if="job._source.permanentJob" translate="jobs.result.permanent"></span>

<!-- Sprachen -->
  <div ng-repeat="language in job._source.languages" ng-if="language.languageCode">
    <strong class="fake-label" translate="language.jobs.{{language.languageCode}}"></strong><br />
    (<span translate="jobs.result.spoken"></span>: <span translate="global.codes.languages.skills.{{language.spokenCode}}"></span> / <span translate="jobs.result.written"></span>: <span translate="global.codes.languages.skills.{{language.writtenCode}}"></span>)
  </div>

<!-- Bewerbung -->
  <div ng-if="job._source.application.written">
    <strong class="fake-label" translate="jobs.result.titleWrittenApplication"></strong><br />
    <span translate="jobs.result.letterApplication"></span>
  </div>
  <div ng-if="job._source.application.electronical">
    <strong class="fake-label" translate="jobs.result.titleElectronicApplication"></strong><br />
    <span>{{job._source.contact.eMail}} <span ng-if="job._source.company.url">/ {{job._source.company.url}}</span></span>
  </div>
  <div ng-if="job._source.application.phone">
    <strong class="fake-label" translate="jobs.result.titlePhoneApplication"></strong><br />
    <span>{{job._source.contact.phone}}</span>
  </div>

  <strong>{{job._source.company.name}}</strong><br />
  <span>{{job._source.company.address.street}}</span><br />
  <span>{{job._source.company.address.zip}} {{job._source.company.address.location}}</span><br />
  <span ng-if="job._source.company.poAddress.poBox"><br /><span translate="jobs.result.poBox" translate-values="{value: job._source.company.poAddress.poBox}"></span><br /></span>
  <span ng-if="job._source.company.poAddress.poBox">{{job._source.company.poAddress.zip}} {{job._source.company.poAddress.location}}</span>

  <br />
  <strong><span translate="global.codes.salutations.{{job._source.contact.gender}}"></span> {{job._source.contact.firstName}} {{job._source.contact.lastName}}</strong><br />
  <span ng-if="job._source.contact.phone">{{job._source.contact.phone}}<br /></span>
  <span ng-if="job._source.contact.eMail">{{job._source.contact.eMail}}</span>
</div>
