<md-bottom-sheet class="md-list" ng-cloak>
  <md-list>
    <md-list-item class="md-2-line">
      <md-input-container flex="100" class="md-block isco-select" ng-if="!searchParams.iscoMajorGroup">
        <label><span translate="jobs.search.jobgroup"></span></label>
        <md-select ng-model="searchParams.iscoMajorGroup" ng-change="countJobs()" md-container-class="jd-selectpicker">
          <md-option ng-repeat="isco in iscoMajorGroup" value="{{isco.code}}"><span translate="{{isco.text}}"></span></md-option>
        </md-select>
      </md-input-container>

      <md-input-container flex="100" class="md-block isco-select" ng-if="searchParams.iscoMajorGroup">
        <label><span translate="isco.majorGroups.{{searchParams.iscoMajorGroup}}"></span></label>
        <md-select ng-model="searchParams.iscoGroupLevel3" ng-change="countJobs()" md-container-class="jd-selectpicker">
          <md-option value="0"><md-icon>done_all</md-icon> <span class="jd-select-reset" translate="jobs.search.allSubGroups"></span></md-option>
          <md-option ng-repeat="minorGroup in iscoMinorGroups[searchParams.iscoMajorGroup]" value="{{minorGroup}}"><span translate="isco.minorGroups.{{minorGroup}}"></span></md-option>
          <md-option value="-1" ng-click="searchParams.iscoMajorGroup='';searchParams.iscoGroupLevel3='';countJobs()"><md-icon>keyboard_arrow_left</md-icon><span class="jd-select-reset" translate="jobs.search.disableGroup"></span></md-option>
        </md-select>
      </md-input-container>
    </md-list-item>
    <md-list-item class="md-3-line">
      <div flex="20">
        <md-button class="md-icon-button jd-icon-button" ng-click="setMyLocation()">
          <md-icon id="resetLocation">my_location</md-icon>
        </md-button>
      </div>

      <md-input-container flex="60">
        <label translate="jobs.search.location"></label>
        <input type="number" min="1000" max="9999" name="location-sm" id="location-sm" ng-model="currentZip" />
      </md-input-container>


      <div flex="20">
        <md-button class="md-icon-button jd-icon-button" ng-click="setCurrentZip(false)">
          <md-icon>check</md-icon>
        </md-button>
      </div>
    </md-list-item>

    <md-list-item class="md-2-line">
      <md-select aria-label="distance" flex="100" ng-model="searchParams.distanceType" ng-change="countJobs()" ng-init="searchParams.distanceType=searchParams.distanceType || appConfig.distanceType || 'distance'">
        <md-option value="distance" class="md-primary" aria-label="distance" ng-if="appConfig.availableDistanceType.distance"><span translate="jobs.search.circumSearch.type.distance"></span></md-option>
        <md-option value="transport" class="md-primary" aria-label="travel time" ng-if="appConfig.availableDistanceType.transport"><span translate="jobs.search.circumSearch.type.transport"></span></md-option>
        <md-option value="drive" class="md-primary" aria-label="travel time" ng-if="appConfig.availableDistanceType.drive"><span translate="jobs.search.circumSearch.type.drive"></span></md-option>
        <md-option value="bike" class="md-primary" aria-label="travel time" ng-if="appConfig.availableDistanceType.bike"><span translate="jobs.search.circumSearch.type.bike"></span></md-option>
      </md-select>
    </md-list-item>

    <md-list-item class="md-2-line">
      <div flex="100">
        <label ng-if="searchParams.distanceType==='distance'" class="md-slider-label" translate="jobs.search.circumSearch.label.{{searchParams.distanceType}}" translate-values="{value:searchParams.{{searchParams.distanceType}}}"></label>
        <label ng-if="searchParams.distanceType!=='distance'" class="md-slider-label" translate="jobs.search.circumSearch.label.{{searchParams.distanceType}}" translate-values="{value:showTimeInH(searchParams.{{searchParams.distanceType}})}"></label>
        <md-slider ng-model="searchParams[searchParams.distanceType]" step="{{sliderOptions[searchParams.distanceType].step}}" min="{{sliderOptions[searchParams.distanceType].min}}" max="{{sliderOptions[searchParams.distanceType].max}}" aria-label="distance" ng-change="countJobs()" class="md-primary"></md-slider>
      </div>
    </md-list-item>

  </md-list>
</md-bottom-sheet>
