<style>
  #worldmap {
    height: 600px;
    width: 1000px;
    cursor: pointer;
  }
</style>

<div id="worldmap"></div>

<script>
  //*
  //* todo parameterize all (topojsons, radius, view, etc
  //*      directive --> leaflet-directive ??
  //*      current location -> location name if != initial city?!

  $('#worldmap').css('height', ($(window).height() - ($('#topnav').outerHeight()+$('#filter').outerHeight())) );
  $('#worldmap').css('width',$(document).width());

  //****** CONTOURS ******//
  var colorScale = chroma.scale(['94BF8B', 'F5F4F2']).domain([0,4000]).mode('hcl');
  var contour_layer = new L.TopoJSON(null, {
    clickable: false,
    className: 'contour',
    style: function(feature){
      return { fillColor: colorScale(feature.id).hex() };
    }
  });

  $.getJSON('assets/topojson/ch-contours.json', function (data) {
    contour_layer.addData(topojson.feature(data, data.objects.contours));
  });

  //****** GEO TOPO JSON ******//
  var canton_layer = new L.TopoJSON(null, {
    clickable: false,
    className: 'canton-boundaries'
  });

  var lake_layer = new L.TopoJSON(null, {
    clickable: false,
    className: 'lakes'
  });

  var cities_layer = new L.GeoJSON(null, {
    pointToLayer: function (feature, latlng) {
      return L.circleMarker(latlng, {
        clickable: false,
        radius: 3,
        className: 'city-boundaries'
      }).bindLabel(feature.geometry.properties.name, { noHide: true, className: 'city-text' });
    }
  });

  var currentPosition=undefined, currentRadius=undefined;

  var map = L.map('worldmap', {
    zoomControl: false,
    scrollWheelZoom: false,
    doubleClickZoom: true,
    maxBounds: [
      [45.5, 5.5],
      [48, 11]
    ]
  });

  /*L.tileLayer('http://server.arcgisonline.com/ArcGIS/rest/services/World_Imagery/MapServer/tile/{z}/{y}/{x}', {
   minZoom: 8, maxZoom: 12
   }).addTo(map);*/

  map
    .addLayer(contour_layer)
    .addLayer(canton_layer)
    .addLayer(lake_layer)
    .addLayer(cities_layer)
    .setView([46.8, 8.3], 8.33);

  $.getJSON('assets/topojson/ch-cantons-lakes.json', function (data) {
    var canton_geojson = topojson.feature(data, data.objects.cantons),
      lake_geojson = topojson.feature(data, data.objects.lakes);

    canton_layer.addData(canton_geojson);
    lake_layer.addData(lake_geojson);

    $.getJSON('assets/topojson/cities.json', function (data) {
      cities_layer.addData(data);

      L.circleMarker([46.119,8.71], { clickable: false, radius: 3, className: 'my-location' }).addTo(map);
      doRadius([46.119,8.71]);
    });
  });

  map.on('click', function (e) {
    //alert(e.latlng);
    myPosition(e.latlng, 'current-location');
  });

  //**** current location *****//
  // Bern 7.424150,46.946953
  // Brissago 8.71,46.119

  function myPosition(latlng){
    if (currentPosition===undefined){
      currentPosition=L.marker(latlng, { clickable: false, radius: 3, className: 'current-location' }).addTo(map);
    }
    else {
      currentPosition.setLatLng(latlng);
    }
    doRadius(latlng);
  }

  function doRadius(latlng){
    if (currentRadius===undefined){
      currentRadius= L.circle(latlng, 30000, {
        clickable: false,
        className: 'radius'
      }).addTo(map);
    }
    else {
      currentRadius.setLatLng(latlng);
    }
  }

</script>


<md-button ng-click="back()" class="md-fab md-primary md-fab-bottom-right jd-floating-fab"
           aria-label="global.navigation.search" md-theme-watch="true">
  <md-icon>arrow_backward</md-icon>
</md-button>
