body {
  font-family: 'Open Sans', Helvetica Neue, Helvetica, Arial, sans-serif;
}
.topnav-title {
  padding: 0;
  margin: 0;
  height: 100%;
}
.topnav-title img {
  height: 100%;
}
.section-button {
  width: 25%;
  text-align: left;
}
.jd-categories {
  position: fixed;
  height: calc(100% - 84px);
}
@media (max-width: 599px) {
  .jd-categories {
    position: static;
    height: 100%;
  }
}
.jd-categories .category-title {
  align-items: center;
  background: rgba(0, 0, 0, 0.18);
  height: 64px;
  -webkit-font-smoothing: antialiased;
  background-attachment: scroll;
  background-clip: border-box;
  background-image: none;
  background-origin: padding-box;
  background-size: auto;
  bottom: 0;
  box-sizing: border-box;
  color: #000;
  display: flex;
  flex-direction: row;
  overflow-x: hidden;
  overflow-y: hidden;
}
.jd-categories md-icon {
  color: #000;
  margin-left: 0.5em;
  margin-right: 0.5em;
  font-size: 1.75em;
}
.jd-categories .category-title span {
  margin: 0 0 0 16px;
  box-sizing: border-box;
  font-size: 14px;
  font-weight: 700;
  color: #000;
}
.category {
  height: calc(33% - 64px);
  vertical-align: top;
  width: auto;
  padding-bottom: 10px;
  cursor: pointer;
}
.category img {
  height: 200px;
  vertical-align: top;
  width: auto;
}
.category .iscoIcon {
  height: auto;
  width: 100%;
}
.category :focus {
  outline: none;
}
/*
.jd-categories .category-title.isco1 {
  background-color: @material-color-deep-purple;
  opacity: 0.54;
}
.jd-categories .category-title.isco2 {
  background-color: @material-color-blue;
}
.jd-categories .category-title.isco3 {
  background-color: @material-color-lime;
}
.jd-categories .category-title.isco4 {
  background-color: @material-color-teal;
}
.jd-categories .category-title.isco5 {
  background-color: @material-color-pink;
}
.jd-categories .category-title.isco6 {
  background-color: @material-color-green;
}
.jd-categories .category-title.isco7 {
  background-color: @material-color-orange;
}
.jd-categories .category-title.isco8 {
  background-color: @material-color-amber;
}
.jd-categories .category-title.isco9 {
  background-color: @material-color-cyan;
} */
#map {
  width: 960px;
  height: 500px;
  cursor: pointer;
  background-color: #fff;
}
.radius {
  fill: #ffffff;
  opacity: 1;
  stroke: #ffffff;
  stroke-opacity: 1;
  stroke-width: 1;
}
.contour {
  fill-opacity: 1;
  stroke: none;
  stroke-opacity: 0;
  stroke-width: 0;
  shape-rendering: crispEdges;
}
.canton-boundaries {
  fill: transparent;
  fill-opacity: 1;
  stroke: #ffffff;
  stroke-opacity: 1;
  stroke-width: 1;
  shape-rendering: crispEdges;
}
.city-boundaries {
  fill: #ffffff;
  fill-opacity: 1;
  stroke: #000000;
  stroke-opacity: 1;
  stroke-width: 1.5;
}
.municipality-boundaries {
  fill: #ffffff;
  stroke: #000000;
  stroke-width: 1;
}
.city-text.leaflet-label,
.municipality-text.leaflet-label {
  font-family: 'Open Sans', Helvetica Neue, Helvetica, Arial, sans-serif;
  border: none;
  background: transparent;
  padding: 6px 0 0 0;
  cursor: pointer;
}
.city-text.leaflet-label-right,
.municipality-text.leaflet-label-right {
  margin-left: -4px;
}
.city-text.leaflet-label-left,
.municipality-text.leaflet-label-left {
  margin-left: 6px;
}
.municipality-text.leaflet-label {
  font-weight: 400;
}
.city-text.leaflet-label:before,
.city-text.leaflet-label:after,
.municipality-text.leaflet-label:before,
.municipality-text.leaflet-label:after {
  border: none;
  left: 0;
}
.municipality-text {
  font-size: 12px;
  font-weight: 400;
  pointer-events: none;
  opacity: 1;
  text-anchor: end;
}
.lakes {
  fill: #c6ecff;
  fill-opacity: 1 !important;
  stroke: none;
  stroke-opacity: 1 !important;
  weight: 1;
}
.my-location {
  fill: #ff0000;
  fill-opacity: 1;
  stroke: #000000;
  stroke-opacity: 1;
  stroke-width: 1.5;
  z-index: 2000;
}
.current-location {
  fill: #fff;
  fill-opacity: 1;
  stroke: #000000;
  stroke-opacity: 1;
  stroke-width: 1;
}
text {
  font-size: 12px;
  font-weight: 700;
  pointer-events: none;
  opacity: 1;
  z-index: 2100;
}
@media (max-width: 599px) {
  text {
    font-size: 10px;
    font-weight: 700;
    pointer-events: none;
  }
}
.heatmap {
  fill: transparent;
  fill-opacity: 0.66;
  stroke: transparent;
  stroke-opacity: 0;
  stroke-width: 0;
  fill-rule: nonzero;
}
.heatmap-outline {
  fill: transparent;
  stroke: transparent;
}
.area0 {
  fill: #de9900;
}
.area1 {
  fill: #e5ad00;
}
.area2 {
  fill: #ebc200;
}
.area3 {
  fill: #f2d600;
}
.area4 {
  fill: #f8eb00;
}
.area5 {
  fill: #ffff00;
}
.keyboard {
  width: 100% !important;
}
.ui-keyboard {
  background: #eeeeee;
  width: 188px !important;
  border: none !important;
  padding: 0 !important;
  margin-top: 20px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.ui-keyboard:after {
  bottom: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(238, 238, 238, 0);
  border-bottom-color: #eeeeee;
  border-width: 15px;
  margin-left: -15px;
}
.ui-keyboard-button {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #e5e5e5));
  background-image: -webkit-linear-gradient(#ffffff, #e5e5e5);
  background-image: -moz-linear-gradient(#ffffff, #e5e5e5);
  background-image: -o-linear-gradient(#ffffff, #e5e5e5);
  background-image: linear-gradient(#ffffff, #e5e5e5);
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 3px 10px;
  -moz-box-shadow: rgba(0, 0, 0, 0.3) 0 3px 10px;
  box-shadow: rgba(0, 0, 0, 0.3) 0 3px 10px;
  box-sizing: border-box;
  display: block;
  float: left;
  width: 51px;
  height: 51px;
  padding: 5px 0;
  margin: 0 5px 5px 0;
  border: none;
  font-size: 20px;
}
.ui-keyboard-bksp {
  width: 107px;
}
.ui-keyboard-text {
  font-family: 'Open Sans', Helvetica Neue, Helvetica, Arial, sans-serif;
}
.ui-keyboard-actionkey.ui-keyboard-cancel .ui-keyboard-text,
.ui-keyboard-actionkey.ui-keyboard-bksp .ui-keyboard-text {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
  margin: auto;
  background-repeat: no-repeat no-repeat;
  display: inline-block;
  vertical-align: middle;
  fill: currentColor;
  height: 24px;
  width: 24px;
}
.ui-keyboard-actionkey.ui-keyboard-accept .ui-keyboard-text {
  font-weight: 700;
}
.ui-keyboard-preview-wrapper input {
  border: none;
  background: transparent;
  margin-top: -1px;
}
.ui-keyboard-keyset {
  padding: 6px 0 6px 12px !important;
}
.ui-keyboard-button:active {
  top: 4px;
  -webkit-transform: translate(0, 4px);
  -moz-transform: translate(0, 4px);
  -ms-transform: translate(0, 4px);
  -o-transform: translate(0, 4px);
  transform: translate(0, 4px);
  -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.5);
}
label {
  color: #000000 !important;
}
.form-block md-input-container,
.form-block md-select,
.form-block label {
  width: 100%;
}
md-input-container > md-slider {
  flex: 1;
  order: 2;
  margin: 0;
  width: 100%;
}
#iscoGroup .md-select-value {
  color: #000000 !important;
}
/*md-select-menu,
md-select-menu md-content {
  max-height: inherit;
}*/
.jd-select-reset {
  color: rgba(0, 0, 0, 0.54);
}
.jd-floating-toolbar md-radio-button .md-label {
  font-size: 0.75em;
  color: #000000;
}
.jd-floating-toolbar md-radio-button {
  margin: 5px;
}
md-input-container.md-slider-has-label label,
.md-slider-label {
  -webkit-transform: translate3d(0, 1em, 0) scale(0.75);
  transform: translate3d(0, 1em, 0) scale(0.75);
  color: #000000;
  width: 100%;
}
.md-slider-label {
  font-size: 0.75em;
}
.toolbar-inverse md-icon {
  color: #000000;
}
.jd-floating-toolbar {
  margin-top: 1em;
}
@media (max-width: 599px) {
  #filter {
    margin-bottom: 76px;
  }
  .jd-floating-toolbar #filter {
    margin-bottom: 0;
  }
}
.jd-floating-fab {
  position: fixed !important;
}
.jd-icon-button {
  width: auto !important;
  min-width: 24px !important;
  border-radius: 0 !important;
}
.jd-iframe {
  border: none;
  width: 100%;
}
.infinite-scroll {
  overflow: scroll;
}
.jd-warn {
  background-color: #e11a27;
  color: #fff;
}
body #printableArea {
  display: none;
}
label {
  width: 100% !important;
}
.jd-bottom-right {
  top: auto;
  right: 100px;
  bottom: 20px;
  left: auto;
  position: fixed !important;
  height: 56px;
  font-size: 20px;
}
@media (max-width: 599px) {
  .jd-bottom-right {
    top: 50px;
    right: 0;
    bottom: auto;
    font-size: inherit;
  }
}
.jd-sleep-screen {
  opacity: 0.6;
  background-color: black;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
}
.jd-sleep-screen.ng-enter {
  transition: 2s linear all;
  opacity: 0;
}
.jd-sleep-screen.ng-enter.ng-enter-active {
  opacity: 0.6;
}
.jd-btn-block {
  width: calc(100% - 8px);
}
.jd-btn-block + .jd-btn-block {
  margin-bottom: 8px;
}
.jd-mobile .jd-show-btn {
  margin-left: 0;
}
.jd-job-list {
  text-align: left;
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.visited {
  background-color: #ccc;
}
.jd-job-detail.ng-enter {
  -webkit-transition: linear 0.6s;
  -moz-transition: linear 0.6s;
  -ms-transition: linear 0.6s;
  -o-transition: linear 0.6s;
  transition: linear 0.6s;
  opacity: 0;
}
.jd-job-detail.ng-enter-active {
  opacity: 1;
}
md-toast.md-toast-success-theme .md-toast-content {
  background-color: green;
}
md-toast.md-toast-error-theme .md-toast-content {
  background-color: #E82B2B;
}
.md-jobs-theme .leaflet-marker-icon.material-icons {
  color: #03a9f4 !important;
  margin-left: -17px !important;
  margin-top: -32px !important;
  font-size: 34px;
}
.filter-button-container {
  display: inline-block;
  position: relative;
  padding: 2px;
  margin: 18px 0;
  vertical-align: middle;
}
.zip-form .filter-button-container {
  margin-top: 0;
}
.md-has-icon.isco-select {
  padding-left: 0;
}
.my-location-button {
  text-align: right;
}
.tour-tip {
  display: none;
  position: absolute;
  background-color: #2196f3;
  color: #fff;
  z-index: 1001;
  top: 0;
  left: 2.5%;
  font-family: inherit;
  font-weight: 400;
  max-width: 400px;
  border-radius: 4px;
}
.tour-tip .tour-arrow {
  display: block;
  position: absolute;
  left: 22px;
  width: 0;
  height: 0;
  border: inset 14px;
}
.tour-tip .tour-arrow.tt-top {
  border-style: solid;
  bottom: -27px;
  border-color: #2196f3 transparent transparent !important;
}
.tour-tip .tour-arrow.tt-bottom {
  border-style: solid;
  top: -28px;
  border-color: transparent transparent #2196f3 !important;
}
.tour-tip .tour-arrow.tt-right {
  border-style: solid;
  left: -27px;
  top: 28px;
  border-color: transparent #2196f3 transparent transparent !important;
}
.tour-tip .tour-arrow.tt-left {
  border-style: solid;
  left: 100%;
  top: 28px;
  border-color: transparent transparent transparent #2196f3 !important;
}
.tour-tip .tour-content-wrapper {
  padding: .5em .75em 0 .75em;
}
.tour-tip .tour-footer-wrapper {
  padding: 0 0 .5em 0;
}
.tour-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 100;
}
.tour-element-active {
  z-index: 120 !important;
  position: relative;
  background: #fff;
}
@media print {
  body #topnav,
  body #main {
    visibility: hidden;
    background-color: transparent;
    box-shadow: none !important;
  }
  body .md-actions {
    display: none;
  }
  body md-dialog {
    box-shadow: none !important;
    max-width: 100%;
    max-height: 100%;
  }
  body md-toolbar {
    display: none;
  }
  body md-dialog-content {
    padding: 0;
    overflow: hidden;
  }
  body .md-dialog-container {
    background-color: white;
    align-items: flex-start;
  }
  body md-progress-circular {
    display: none;
  }
  body #printableArea {
    display: block;
    visibility: visible;
    font-size: 10px;
    font-family: Verdana;
    padding-left: 10px;
    padding-right: 20px;
    padding-top: 10px;
    color: black;
  }
}
