.topnav {
  font-size: 2em;
  background-color: #005ba1;
  border-bottom: 4px solid #004f8d;
}
#language-switch li {
  margin-top: 30px;
}
#language-switch li a {
  padding: 6px 12px;
  color: #000;
}
#language-switch li a:hover {
  padding: 6px 12px;
  color: #000;
  background-color: #d5d5d5;
}
#language-switch li.active {
  background-color: #eee;
}
.navbar,
.subnavbar {
  background-color: transparent;
  border: none;
  color: #fff;
  font-weight: bold;
  font-size: inherit !important;
}
.navbar-brand {
  font-size: inherit !important;
}
.navbar-brand a {
  color: #fff !important;
  font-size: 0.75em;
}
.filter {
  display: block;
  background-color: #DDDDDD;
}
.navigation.bottom {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #005ba1;
  border-top: 4px solid #004f8d;
}
.navigation.bottom div {
  padding-top: 1.5%;
  padding-bottom: 1.5%;
}
.form-group .nav-tabs > li > a {
  border: none;
}
.form-group .nav > li > a {
  padding: 0 10px 0 0;
  color: #999;
}
.form-group .nav > li > a.active {
  color: #000;
}
body.search-jobs .topnav,
body.search-jobs .navigation.bottom {
  background-color: #005ba1;
  border-color: #004f8d;
}
body.search-apprenticeships .topnav,
body.search-apprenticeships .navigation.bottom {
  background-color: #009933;
  border-color: #00852c;
}
body.search-educations .topnav,
body.search-educations .navigation.bottom {
  background-color: #e68a00;
  border-color: #d27e00;
}
#help {
  padding-top: 1.5%;
  padding-bottom: 1.5%;
}
body {
  font-family: 'Open Sans', Helvetica Neue, Helvetica, Arial, sans-serif;
}
h4 {
  font-size: 1.2em;
}
.category-groups div {
  height: 20%;
  text-align: center;
}
.category-group img {
  height: inherit !important;
}
.container,
.container-fluid {
  height: auto;
  min-height: inherit;
}
#map {
  width: 960px;
  height: 500px;
}
#distance:focus,
#onlineSince:focus {
  outline: none;
}
#distance .slider-selection,
#onlineSince .slider-selection {
  background: #BABABA;
}
.job-results {
  overflow: scroll;
}
.job-result,
.job-result:hover {
  cursor: pointer;
  color: #000;
  text-decoration: none;
}
.job-results .list-group-item:nth-child(even) {background: #d9d9d9 !important;}
.job-results .list-group-item:nth-child(odd) {background: #FFF; }

.job-results .list-group-item.visited:nth-child(odd) {
  /*color: #3C763D;*/
  background-color: #DFF0D8;
}
.job-results .list-group-item.visited:nth-child(even) {
  /*color: #235d24 !important;*/
  background: #c6d7bf !important;
}

.result-button .icon,
.result-button .glyphicon {
  font-size: 1.25em;
}
.fake-label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: bold;
}
.btn-plain,
.btn-plain:active {
  transition: none;
  -webkit-transform: none;
  -moz-transform: none;
  -ms-transform: none;
  -o-transform: none;
  transform: none;
  -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  -moz-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  top: 0;
  margin-bottom: 0;
  text-align: left;
}
.btn-plain .caret {
  position: absolute;
  top: 50%;
  right: 12px;
  margin-top: -2px;
  vertical-align: middle;
}
.job-sort.dropdown-menu {
  width: 100%;
}
.location-plz input,
.location-plz input:focus,
.location-plz .input-group-addon,
.location-plz button {
  border-color: #eee;
  background-color: #eee;
}
.location-plz button:active,
.location-plz button:focus,
.location-plz button:hover {
  background-color: #eee;
}
.jobs {
  background-color: #005ba1;
  color: #fff;
}
.lena {
  background-color: #009933;
  color: #fff;
}
.wab {
  background-color: #e68a00;
  color: #fff;
}
.jobs:hover {
  background-color: #004a82;
  color: #fff;
}
.lena:hover {
  background-color: #007a29;
  color: #fff;
}
.wab:hover {
  background-color: #c77800;
  color: #fff;
}
.category {
  margin-top: 2%;
}
.radius {
  fill: #fff;
  opacity: 0.5;
}
#map,
.map {
  margin: 0 auto;
}
.country {
  fill: #999;
}
.canton-boundaries {
  fill: transparent;
  stroke: #fff;
  stroke-width: 1;
  shape-rendering: crispEdges;
}
.municipality-boundaries,
#municipalities path {
  fill: transparent;
  stroke: none;
  shape-rendering: crispEdges;
}
#municipalities .active {
  fill: #fff;
  opacity: 0.4;
  stroke: #fff;
  stroke-width: 1;
}
.city-boundaries {
  fill: white;
  stroke: black;
  stroke-width: 1.5;
}
.lakes {
  fill: #C6ECFF;
  stroke: none;
  z-index: 4000;
}
.my-location {
  fill: red;
  stroke: black;
  stroke-width: 1.5;
}
.current-location {
  fill: red;
}
text {
  font-size: 12px;
  font-weight: 700;
  pointer-events: none;
}
.contour {
  stroke: none;
  stroke-width: 0.5;
}
.key path {
  display: none;
}
.key line {
  stroke: none;
  shape-rendering: crispEdges;
}
.topo_1 {
  fill: #ACD0A5;
  stroke: #0978AB;
  stroke-width: 1px;
}
.topo_50 {
  fill: #94BF8B;
}
.topo_100 {
  fill: #BDCC96;
}
.topo_200 {
  fill: #E1E4B5;
}
.topo_500 {
  fill: #DED6A3;
}
.topo_1000 {
  fill: #CAB982 ;
}
.topo_2000 {
  fill: #AA8753;
}
.topo_3000 {
  fill: #BAAE9A;
}
.topo_4000 {
  fill: #F5F4F2 ;
}
.arrow_box {
  position: relative;
  background: #88b7d5;
}
.strong {
  display: block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: bold;
}

.ui-keyboard {
  background: #eeeeee;
  width: 188px;
  padding: 0 !important;
  border: none !important;

  -webkit-border-bottom-right-radius: 12px;
  -webkit-border-bottom-left-radius: 12px;
  -moz-border-radius-bottomright: 12px;
  -moz-border-radius-bottomleft: 12px;
  border-bottom-right-radius: 12px;
  border-bottom-left-radius: 12px;
}
.ui-keyboard-button {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #e5e5e5));
  background-image: -webkit-linear-gradient(#ffffff, #e5e5e5);
  background-image: -moz-linear-gradient(#ffffff, #e5e5e5);
  background-image: -o-linear-gradient(#ffffff, #e5e5e5);
  background-image: linear-gradient(#ffffff, #e5e5e5);
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 3px 10px;
  -moz-box-shadow: rgba(0, 0, 0, 0.3) 0 3px 10px;
  box-shadow: rgba(0, 0, 0, 0.3) 0 3px 10px;
  box-sizing: border-box;
  display: block;
  float: left;
  width: 51px;
  height: 51px;
  padding: 5px 0;
  margin: 0 5px 5px 0;
  border: none;
  font-size: 20px;
}
.ui-keyboard-bksp {
  width: 107px;
}
.ui-keyboard-preview-wrapper input {
  border: none;
  background: transparent;
  margin-top: -1px;
}
.ui-keyboard-keyset {
  padding: 6px 0 6px 12px !important;
}
.ui-keyboard-button:active {
  top: 4px;
  -webkit-transform: translate(0,4px);
  -moz-transform: translate(0,4px);
  -ms-transform: translate(0,4px);
  -o-transform: translate(0,4px);
  transform: translate(0,4px);
  -webkit-box-shadow: 0 0 0 0 rgba(0,0,0,.5);
  -moz-box-shadow: 0 0 0 0 rgba(0,0,0,.5);
  box-shadow: 0 0 0 0 rgba(0,0,0,.5);
}

.form-alert {
  position: absolute;
  z-index: 2000;
  margin-top: -10px;
}
.form-alert:after {
  bottom: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: inherit;
  border-color: rgba(136, 183, 213, 0);
  border-bottom-color: inherit;
  border-width: 10px;
  margin-left: -10px;
}
