<div layout="row" layout-wrap layout-padding layout-align="start start" class="jd-categories">

  <div class="category" flex="33" flex-sm="100" ng-click="setSwissdocGroup(swissdoc.code)" ng-repeat="swissdoc in swissdocMajorGroup">
    <img class="iscoIcon" src="assets/images/{{swissdoc.img}}" alt="swissdoc" />
    <div class="category-title"><span class="md-title" translate="{{swissdoc.text}}"></span></div>
  </div>

</div>

<md-button href="#/education-search" class="md-fab md-primary md-fab-bottom-right jd-floating-fab" aria-label="global.navigation.search" md-theme-watch="true">
  <md-icon>arrow_forward</md-icon>
</md-button>
