<div class="navigation filter row" id="filter">
  <div class="col-md-3">
    <br />
    <a href="#/jobs" class="btn btn-block btn-plain jobs" glyph-icon="home"> <strong translate="global.jobs"></strong></a>
  </div>
  <div class="col-md-3">
    <br />
    <a href="#/apprenticeships" class="btn btn-default btn-block btn-plain lena" glyph-icon="arrow-top" admin-symbol> <strong translate="global.apprenticeships"></strong></a>
  </div>
  <div class="col-md-6">
    <div class="navbar-right">
      <language-switcher></language-switcher>
    </div>
  </div>
</div>



<div class="row navigation bottom" id="navbottom">
  <div class="col-md-offset-1 col-md-2" align="center">
    <a class="btn btn-default btn-plain btn-block" href="#/frontpage" glyph-icon="info-sign"> <span translate="global.navigation.localInfo"></span></a>
  </div>
  <div class="col-md-offset-6 col-md-2" align="center">
    <a class="btn btn-default btn-primary btn-plain btn-block" href="#/education-search" translate="global.navigation.search"></a>
  </div>
  <div class="col-md-1" align="right">
    <help></help>
  </div>
</div>
