// MAIN CSS FOR JOB-DESK
// LESS

//** GLOBAL
body {
  font-family: @font-family-base;
}

//**** TOPNAV
.topnav-title {
  padding: 0;
  margin: 0;
  height: 100%;
}
.topnav-title img {
  height: 100%;
}
.topnav-title .job-desk-logo {
  height: 50%;
  width: 150px;
}
.section-button {
  width: 25%;
  text-align: left;
}
.jd-information-link {
  margin-left: 1em;
}

//**** CATEGORIES
.jd-categories  {
  position: fixed;
  height: calc(~'100% - 134px');
  width: 100%;
}
@media (max-width: 599px) {
  .jd-categories  {
    position: static;
    height: 100%;
    width: 100%;
  }
}

.jd-categories .category-title {
  align-items: center;
  background: #e5e5e5;
  background: rgba(0, 0, 0, 0.18);
  height: 64px;

  -webkit-font-smoothing: antialiased;
  background-attachment: scroll;
  background-clip: border-box;
  background-image: none;
  background-origin: padding-box;
  background-size: auto;
  bottom: 0;
  box-sizing: border-box;
  color: #000;
  display: flex;
  flex-direction: row;
  overflow-x: hidden;
  overflow-y: hidden;
}
.jd-categories md-icon {
  color: #000 !important;
}
.md-square {
  min-width: 36px;
  width: 36px;
  background: #e5e5e5;
  background: rgba(0, 0, 0, 0.18) !important;
}
.jd-categories .category-title span {
  margin: 0 0 0 16px;
  box-sizing: border-box;
  font-size: 14px;
  font-weight: 700;
  color: #000;
}
.category {
  vertical-align: top;
  width: auto;
  padding-bottom: 10px;
  cursor: pointer;
}
.category img {
  height: 200px;
  vertical-align: top;
  width: auto;
}
.category .iscoIcon {
  height: auto;
  width: 100%;
}
.category :focus {
  outline: none;
}

@media (max-width: 599px) {
  #main {
    height: 100%;
  }
}

//**** MAP
#map {
  width: 960px;
  height: 500px;
  cursor: pointer;
  background-color: #fff;
}
.radius {
  fill: @map-heatmap-fill; //@map-radius-fill;
  fill-opacity: 0.5;
  opacity: 1;
  stroke: @map-heatmap-fill; //@map-radius-fill;
  stroke-opacity: 1;
  stroke-width: 1;
}

.my-location {
  fill: @map-my-location-fill;
  fill-opacity: 1;
  stroke: @map-my-location-stroke;
  stroke-opacity: 1;
  stroke-width: 1.5;
  z-index: 2000;
}
.current-location {
  fill: #fff;
  fill-opacity: 1;
  stroke: @map-current-location-stroke;
  stroke-opacity: 1;
  stroke-width: 1;
}

.heatmap {
  fill: transparent;
  fill-opacity: 0.66;
  stroke: transparent;
  stroke-opacity: 0;
  stroke-width: 0;
  fill-rule: nonzero;
}
.heatmap-outline {
  fill: transparent;
  stroke: transparent;
}
.traveltime {
  fill: @map-heatmap-fill;
  fill-opacity: 0.66;
  stroke: @map-heatmap-fill;
  stroke-opacity: 1;
  stroke-width: 1;
  fill-rule: nonzero;
}

.area0 {
  fill: @arrlee-area0;
}
.area1 {
  fill: @arrlee-area1;
}
.area2 {
  fill: @arrlee-area2;
}
.area3 {
  fill: @arrlee-area3;
}
.area4 {
  fill: @arrlee-area4;
}
.area5 {
  fill: @arrlee-area5;
}

//**** KEYBOARD
.keyboard,
.numkey,
.alphakey {
  width: 100% !important;
}

.ui-keyboard {
  background: @keyboard-border;
  width: 188px !important;
  border: none !important;
  padding: 0 !important;
  margin-top: 20px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;

  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
}
.ui-keyboard:after {
  right: -30px;
  top: 12px;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(238, 238, 238, 0);
  border-left-color: @keyboard-border;
  border-width: 15px;
  margin-left: -15px;
}

.ui-keyboard-button {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, @keyboard-button));
  background-image: -webkit-linear-gradient(#ffffff, @keyboard-button);
  background-image: -moz-linear-gradient(#ffffff, @keyboard-button);
  background-image: -o-linear-gradient(#ffffff, @keyboard-button);
  background-image: linear-gradient(#ffffff, @keyboard-button);
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 3px 10px;
  -moz-box-shadow: rgba(0, 0, 0, 0.3) 0 3px 10px;
  box-shadow: rgba(0, 0, 0, 0.3) 0 3px 10px;
  box-sizing: border-box;
  display: block;
  float: left;
  width: 51px;
  height: 51px;
  padding: 5px 0;
  margin: 0 5px 5px 0;
  border: none;
  font-size: 20px;
}
.ui-keyboard-bksp {
  width: 107px;
}
.ui-keyboard-space {
  width: 387px;
}
.ui-keyboard-text {
  font-family: @font-family-base;
}
.ui-keyboard-actionkey.ui-keyboard-cancel .ui-keyboard-text,
.ui-keyboard-actionkey.ui-keyboard-bksp .ui-keyboard-text {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;

  margin: auto;
  background-repeat: no-repeat no-repeat;
  display: inline-block;
  vertical-align: middle;
  fill: currentColor;
  height: 24px;
  width: 24px;

}
.ui-keyboard-actionkey.ui-keyboard-accept .ui-keyboard-text {
  font-weight: 700;
}
.ui-keyboard-preview-wrapper input {
  border: none;
  background: transparent;
  margin-top: -1px;
}
.ui-keyboard-keyset {
  padding: 12px 6px 6px 12px !important;
}
.ui-keyboard-button:active {
  top: 4px;
  -webkit-transform: translate(0,4px);
  -moz-transform: translate(0,4px);
  -ms-transform: translate(0,4px);
  -o-transform: translate(0,4px);
  transform: translate(0,4px);
  -webkit-box-shadow: 0 0 0 0 rgba(0,0,0,.5);
  -moz-box-shadow: 0 0 0 0 rgba(0,0,0,.5);
  box-shadow: 0 0 0 0 rgba(0,0,0,.5);
}

//**** FILTER
label {
  color: rgba(0,0,0,1) !important;
}

.form-block md-input-container,
.form-block md-select,
.form-block label{
  width: 100%;
}
md-input-container > md-slider {
  flex: 1;
  order: 2;
  margin: 0;
  width: 100%;
}

.md-select-menu-container {
  z-index: 1001;
}

#iscoGroup .md-select-value {
  color: rgba(0,0,0,1) !important;
}

@media screen and (max-width: 768px) {
  .jd-selectpicker {
    width: 90%;
  }
}

.jd-select-reset {
  color: rgba(0,0,0,0.54);
}

.jd-floating-toolbar ._md-label {
  font-size: 0.75em;
  color: rgba(0,0,0,1);
}

.jd-floating-toolbar md-radio-button {
  margin: 5px;
}

.md-slider-has-label label,
.md-slider-label {
  -webkit-transform: translate3d(0, 1em, 0) scale(0.75);
  -moz-transform: translate3d(0, 1em, 0) scale(0.75);
  -ms-transform: translate3d(0, 1em, 0) scale(0.75);
  -o-transform: translate3d(0, 1em, 0) scale(0.75);
  transform: translate3d(0, 1em, 0) scale(0.75);
  color: rgba(0,0,0,1);
  width: 100%;
}
.md-slider-label {
  font-size: 0.75em;
}

.toolbar-inverse md-icon {
  color: rgba(0,0,0,1);
}

.jd-floating-toolbar {
  margin-top: 1em;
}

@media (max-width: 599px) {
  #filter {
    margin-bottom: 76px;
  }
  .jd-floating-toolbar #filter {
    margin-bottom: 0;
  }
}

.jd-floating-fab {
  position: fixed !important;
}

.jd-icon-button {
  width: auto !important;
  min-width: 24px !important;
  border-radius: 0 !important;
}

.jd-iframe {
  border: none;
  width: 100%;
}

.infinite-scroll {
  overflow: scroll;
}

.jd-warn {
  background-color: @ch-red;
  color: #fff;
}

body #printableArea {
  display: none;
}

label {
  width: 100% !important;
}

.jd-bottom-right {
  top: auto;
  right: 100px;
  bottom: 20px;
  left: auto;
  position: fixed !important;
  height: 56px;
  font-size: 20px;
  background-color: rgba(255,255,255,0.75);
  margin: 8px 16px;
}
@media (max-width: 599px) {
  .jd-bottom-right  {
    top: 50px;
    right: 0;
    bottom: auto;
    font-size: inherit;
  }
}

.jd-sleep-screen {
  opacity: @sleep-screen-opacity;
  background-color: black;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
}

.jd-sleep-screen.ng-enter {
  transition: 2s linear all;
  opacity: 0;
}

.jd-sleep-screen.ng-enter.ng-enter-active {
  opacity: @sleep-screen-opacity;
}

.jd-loading-screen ~ .jd-sleep-screen {
  opacity: 0;
}

.jd-loading-screen {
  position: fixed;
  z-index: 10;
}
.jd-loading-screen .animated-container {
  background-color: @material-color-blue;
  bottom: 0;
  left: 0;
  opacity: 1 !important;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 999999;
}
/* Used to initialize the ng-leave animation state. */
.jd-loading-screen .animated-container.ng-leave {
  opacity: 1.0;
  transition: all linear 200ms ;
  -webkit-transition: all linear 200ms;
  -moz-transition: all linear 200ms ;
  -o-transition: all linear 200ms ;
}
/* Used to set the end properties of the ng-leave animation state. */
.jd-loading-screen .animated-container.ng-leave-active {
  opacity: 0 ;
}
.jd-loading-screen .messaging {
  left: 0;
  color: #ffffff;
  margin-top: -37px ;
  position: absolute ;
  right: 0;
  text-align: center ;
  top: 50% ;
}
.jd-loading-screen img {
  height: 100px;
}
@media screen and (max-width: 768px) {
  .jd-loading-screen img {
    height: 60px;
  }
}

.jd-btn-block {
  width: calc(~'100% - 8px');
}
.jd-btn-block + .jd-btn-block {
  margin-bottom: 8px;
}
.jd-mobile .jd-show-btn {
  margin-left: 0;
}
.jd-job-list-dialog {
  width: 100%;
}
.jd-job-list {
  text-align: left;
  cursor: pointer;
}
.no-scrollbar::-webkit-scrollbar {
   display: none;
}

.visited {
  background-color: #ccc;
}

.jd-job-detail.ng-enter {
  -webkit-transition: linear 0.6s;
  -moz-transition: linear 0.6s;
  -ms-transition: linear 0.6s;
  -o-transition: linear 0.6s;
  transition: linear 0.6s;
  opacity: 0;
}

.jd-job-detail.ng-enter-active {
  opacity: 1;
}

md-toast.md-toast-success-theme .md-toast-content {
  background-color: green;
}

md-toast.md-toast-error-theme .md-toast-content{
  background-color: #E82B2B;
}

.md-jobs-theme .leaflet-marker-icon.material-icons,
.md-educations-theme .leaflet-marker-icon.material-icons,
.md-apprenticeships-theme .leaflet-marker-icon.material-icons{
  color: @material-color-blue !important;
  margin-left: -(@map-marker-size / 2) !important;
  margin-top: -(@map-marker-size - 2) !important;
  font-size: @map-marker-size;
}

.md-educations-theme .leaflet-marker-icon.material-icons {
  color: @material-color-light-green !important;
}
.md-apprenticeships-theme .leaflet-marker-icon.material-icons {
  color: @material-color-cyan !important;
}

.leaflet-top, .leaflet-bottom {
  z-index: 10;
}

.filter-button-container {
  display: inline-block;
  position: relative;
  padding: 2px;
  margin: 18px 0;
  vertical-align: middle;
}

.zip-form .filter-button-container {
  margin-top: 0;
}

.md-has-icon.isco-select {
  padding-left: 0;
}

.my-location-button {
  text-align: right;
}

/* mobile menu */
.jd-mobile-menu.active {
  font-weight: 700;
}
#mobile-filter {
  position: fixed;
  bottom: 10px;
  left: 10px;
}

/* tabs */
.jd-tab {
  display: block;
  color: rgba(255,255,255,0.54);
  text-decoration: none;
  border-bottom: 2px solid transparent;
}
.jd-tab:hover {
  color: inherit;
}
.jd-tab.jobs:hover {
  color: inherit;
  background: @material-color-blue;
}
.jd-tab.educations:hover {
  color: inherit;
  background: @material-color-light-green;
}
.jd-tab.apprenticeships:hover {
  color: inherit;
  background: @material-color-cyan;
}

.jd-tab.active {
  border-bottom-color: white;
  color: inherit;
}

/* localInfo */
.localInfo {
  border: none;
}
